* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
}

/* Navigation bar styling */
nav {
    background-color: #12171e;
    padding: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.navbar-center li {
    margin: 0 1rem;
}

.sidebar {
    position: absolute;
    box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.329);
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px; 
    background-color: #161d28;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar ~ .main-content {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 80px;
}

.sidebar.active ~ .main-content {
    left: 80px;
    width: calc(100% - 80px);
}

.sidebar #btn {
    position: absolute;
    color: white;
    top: 0.4rem;
    left: 90%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 50%;
}

.sidebar .top .logo {
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: auto;
    opacity: 1;
}

.sidebar.active .top .logo {
    opacity: 0;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user p {
    color: white;
    opacity: 1;
    margin-left: 1rem;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.bold {
    font-weight: 700;
}

.sidebar p {
    opacity: 1;
}

.sidebar.active p {
    opacity: 0;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 22px;
    margin: 0.8rem auto;
}

.sidebar ul li a {
    color: rgb(189, 189, 189);
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 30px;
    border-radius: 0.5rem;
}

.sidebar ul li a:hover {
    background-color: #1f2732;
    color: #ffffff;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 1;
}

.sidebar.active .nav-item {
    opacity: 0;
}

#red {
    color: #f08080;
}

#red:hover {
    color: #fbadad;
}

.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transform: all 0.8s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border: 1.7px solid #0051ff;
    background: rgb(186, 214, 255);
    color: #2d2d2d;
}

#profileForm label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

#profileForm {
    max-width: 600px;
    padding: 20px;

}

.dashboard {
    max-width: 600px;
    padding: 20px;
    padding-bottom: 0px;
}

.receipt {
    max-width: 600px;
    padding: 20px;
    padding-bottom: 0px;
}

.appointment-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    /* background-color: #ffffff; 
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1); */
}

.date {
    font-weight: bold;
    margin-bottom: 5px;
}

.service-info {
    margin-bottom: 5px;
}

.price-status {
    justify-content: space-between; 
    align-items: center;
}


/* .form-container {
    max-width: 400px;
    padding: 20px;
    background-color: #e7f3ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-left: 6rem;
} */

.form-container {
    max-width: 600px;
    padding: 20px;

}

.service-form label {
    align-items: center;
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.service-form select,
.service-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.add-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-button {
    padding-bottom: 4px;
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: #fff;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button:hover {
    background-color: #ddd;
}
.box-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.alert {
    padding: 10px;
    margin: 20px 0;
    background-color: #bfd4ea;
    color: #1c1c1c;
    border: 1px solid #aab7c4;
    border-radius: 5px;
  }