/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
}

/* Navigation bar styling */
nav {
    background-color: #12171e;
    padding: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.navbar-center li {
    margin: 0 1rem;
}




.sidebar {
    position: absolute;
    box-shadow: 5px 0px 8px  rgba(0, 0, 0, 0.329);
    top: 1;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #161d28;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: white;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: white;
    display:  flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user p {
    color: white;
    opacity: 1;
    margin-left: 1rem;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.bold {
    font-weight: 700;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 22px;
    /* width: 90%; */
    margin: 0.8rem auto;
    list-style: 50px;
}

.sidebar ul li a {
    color: rgb(189, 189, 189);
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 30px;
    border-radius: 0.5rem;
}

.sidebar ul li a:hover {
    background-color: #1f2732;
    color: #ffffff;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

#red {
    color: #f08080;
}

#red:hover {
    color: #fbadad;
}

.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transform: all 0.8s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

/* .container {
    display: flex;
    justify-content: space-between;
} */


.client-info {
    margin-bottom: 1rem;
}

.appointment-card {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.appointment-card .blue {
    color: blue;
    font-weight: bold;
}

.appointment-card .date {
    font-weight: bold;
    color: black;
}

.appointment-card .address, .appointment-card .price, .appointment-card .status {
    font-size: 0.9rem;
    color: black;
}
