html{
    scroll-behavior: smooth;
}
#NavHeader{
    background-color: white;
    top:0;
    margin:0;
    padding:0;
    height:80px;
    max-height: 80px;
    position: sticky;
    justify-content: space-evenly;
    z-index: 999;
    font-family: Arial, Helvetica, sans-serif;
}


body
{
    margin :0 auto;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 36px;
}
p,h2
{
    font-family: Arial, Helvetica, sans-serif;
}
#Info{
    top:0;
    margin: 0;
    background-color: #0071bc;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.icon-info {
    display: flex;
    gap: 15px;
}
.Navigation{
    color: black;
    background-color: white;
    border:0;
    height: 80px;
    font-size: 2vw;
}
#NavMenu{
    background-color: white;
    position: absolute;
    top:0;
    align-items: center;
    left:100px;
    height: 100%;
    padding:0;
}
#NavBox1{
    position: relative;
    top:0;
    left :0;
}

#NavBox2{
    position: relative;
    top:0;
    left :4vw;
}
#NavBox3{
    position: relative;
    top:0;
    left :8vw;
}
#NavBox4{
    position: relative;
    left:12vw;
}
.NavSize{
    width:10%;
}
.center{
    font-size: 14px;
    text-align: center;
}
span{
    font-family: Arial, Helvetica, sans-serif;
}
#OurS,#WU,#CU{
    background-color: rgb(248, 248, 248);
}
#HIW,#AU,#FAQ{
    background-color: white;
}
#logo{
    width: 80px;
    height: 80px;
    top:0;
    left:20px;
}
#NavMenu {
    padding: 0;
    display: flex;
    gap: 40px;
    list-style: none;
}
.menu-link {
    text-decoration: none;
    color: #000000;
}
.container{
    margin:auto;
    position: relative;
    align-content: top;
    max-width: 1000px;
}
.flex_container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}
.flex_container div{
    width:20%;
    text-align: center;
    text-wrap: wrap;
}
#box1{
    height: 200px;
}
#box2{
    position: relative;

}
.InstructionImg{
    width: 10vw;
    height: 10vw;
}
#BGI{
    margin:auto;
    background-image: url(../Images/CleanHouse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 100% 100%;
}
.CleaningChoicesImages{
    height: 200px;
    width:200px;
    border-radius: 50%;
}
#AboutUsImg{
    width:30%;
    height:30%;
    padding:30px;
}
#AboutUsh1{
    text-align: left;
    font-size: 36px;
}
.TopPageIcons{
    max-height: 20px;
    height: 20px;
    width: auto;
}
#SigninButton{
    border: 0;
    color: white;
    background-color: #0071bc;
    border-radius: 40px;
    height: 50px;
    font-size: 2vw;
}
#SigninButton:hover{
    background-color: #0099ff;
}
.contentheader{
    padding-top: 100px;
    padding-bottom: 100px;
}
@media screen and (min-width: 925px){
    .Navigation{
        font-size: 16px;
    }
    #SigninButton{
        font-size: 16px;
    }
}