.nav {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    text-align: center;
    background: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12%;
    height: 50px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    margin-right: 0;
}

.logo:hover {
    transform: scale(1.021);
}

.navbar a{
    font-size: 18px;
    color: #0051ff;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

form {
    margin: auto;
    border: 2px solid rgb(171, 171, 171);
    border-radius: 20px;
    align-items: center;
    width: 500px;
    height: auto;
    background-color: white;
    padding: 2%;
    padding-bottom: 30px;    
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
    margin-top: 60px;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

h1 {
    color: rgb(101, 84, 255);
    font-size: 26px;
    letter-spacing: 1.3px;
}

p {
    text-align: left;
    margin-left: 20px;
}

label {
    font-weight: 600;
    line-height: 2;
}


#first_name {
    border-radius: 20px;
    border: 1.7px solid #9c9c9c;
    width: 210px;
    height: 30px;
    padding-left: 10px;
}

#first_name:focus {
    outline: none;
    border: 1.7px solid #0051ff;
    background: rgb(186, 214, 255);
    color: #2d2d2d;
}

#last_name {
    margin-left: 10px;
    border-radius: 20px;
    border: 1.7px solid #9c9c9c;
    width: 210px;
    height: 30px;
    padding-left: 10px;
}

#last_name:focus {
    outline: none;
    border: 1.7px solid #0051ff;
    background: rgb(186, 214, 255);
    color: #2d2d2d;
}

input[type=text] {
    border-radius: 20px;
    border: 1.7px solid #9c9c9c;
    width: 449px;
    height: 30px;
    padding-left: 10px;
}

input[type=text]:focus {
    outline: none;
    border: 1.7px solid #0051ff;
    background: rgb(186, 214, 255);
    color: #2d2d2d;
}

input[type=password] {
    border-radius: 20px;
    border: 1.7px solid #9c9c9c;
    width: 449px;
    height: 30px;
    padding-left: 10px;
}

input[type=password]:focus {
    outline: none;
    border: 1.7px solid #0051ff;
    background: rgb(186, 214, 255);
    color: #2d2d2d;
}

select {
    border-radius: 20px;
    border: 1.7px solid #9c9c9c;
    color: #242424;
    width: 463.5px;
    height: 35px;
    padding-left: 10px;
}

select:focus {
    outline: none;
    border: 1.7px solid #0051ff;
    color: #2d2d2d;
}

textarea {
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    width: 449px;
    height: 80px;
    padding-left: 10px;
    background: rgb(235, 235, 235);
    padding-top: 10px;
    color: #414141;
}

input[type=submit] {
    align-items: center;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    width: 170px;
    height: 40px;
    padding-left: 10px;
    background: rgb(230, 70, 49);
    color: white;
}

input[type=submit]:hover {
    outline: none;
    background: rgb(255, 90, 68);
    color: white;
}

a {
    color: #0051ff;
    text-decoration: none;
}
#Warning{
    color:red;
    padding-left: 10px;
}
#tempButton{
    align-items: center;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    width: 170px;
    height: 40px;
    padding-left: 10px;
    background: rgb(230, 70, 49);
    color: white;
}
#tempButton:hover{
    outline: none;
    background: rgb(255, 90, 68);
    color: white;
}
