<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title> <!--Compagny name will be changed-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/client_dashboard_stylesheet.css">
</head> 
<body>
    
   <!-- Navigation bar -->
    <!-- <nav>
        <ul class="navbar">
            <div class="navbar-left">
                <li><a href="#" class="logo"><i class='bx bx-home-circle'></i></i> Pristine Clean</a></li>
            </div>

            <div class="navbar-center">
                <li><a href="#">How it Works</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">About Us</a></li>
            </div>
        </ul>
    </nav> -->


    <!-- Side bar -->
    <div class="sidebar">
        <div class="top">
            <div class="logo">

            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <div class="user">
            <img src="Images/user-circle-solid-96.png" class="user-img" width="50px">
            <div>
                <p class="bold"><%= userName %></p>
                <p>User</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="/date">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/receipt">
                    <i class='bx bxs-receipt'></i>
                    <span class="nav-item">Receipt</span>
                </a>
            </li>
            <li>
                <a href="/book">
                    <i class='bx bxs-cart-add' ></i>
                    <span class="nav-item">Book Services</span>
                </a>
            </li>
            <li>
                <a href="/cancel">
                    <i class='bx bxs-cart' ></i>
                    <span class="nav-item">Cancel Services</span>
                </a>
            </li>
            <li>
                <a href="/settings">
                    <i class="bx bxs-cog"></i>
                    <span class="nav-item">Settings</span>
                </a>
            </li>
            <li>
                <a href="LandingPage.html" id="red"> <!-- NOT SURE WHAT TO PUT HERE -->
                    <i class='bx bx-log-out'></i>
                    <span class="nav-item">Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">

        <!-- Message that says "Services added successfully" if added -->
        <% if (message) { %>
            <div class="alert">
              <%= message %>
            </div>
        <% } %>
        
        <div class="form-container">

            <form class="service-form" action="/addService" method="POST">
                <h2>Book Service</h2> <br>
                <label for="service">Service:</label>
                <select id="service" name="service" required>
                    <option value="" disabled selected>Select Service</option>
                    <% services.forEach(service => { %>
                        <option value="<%= service.name %>"><%= service.name %></option>
                    <% }); %>
                </select>
        
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
        
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" placeholder="Enter Address" required>

                <button type="submit" ><pre>  Book Service  </pre>
            </form>
            
        </div>
    </div>


</body>
<script src="js/client_data_structure.js"></script>
<script>
    let btn = document.querySelector("#btn")
    let sidebar = document.querySelector('.sidebar')

    // Toggle Sidebar
    btn.onclick = function() {
        sidebar.classList.toggle('active');
    };
</script>
</html>