<!DOCTYPE html>
<html>
    <head>
        <title><%= BusinessInfo.companyName %></title>
        <link rel="stylesheet" type="text/css" href="./css/login_signup_stylesheet.css">
    </head>
    <body>
        <form id="LogInInfo" action="/CheckBusinessLogin" method="POST">
            <!--action="submit.js" method="post"-->
            <h1>Log in as a Business</h1>
            <p style="text-align:center;">Log in to manage your services, edit business information and more.</p>
            <p style="text-align:center;">
                <label for="email">Business Email:&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
                <input type="email" id="email" name="email" placeholder="Enter your Email" required>
            </p>
            <p style="text-align:center;">
                <label for="password">Password:&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
                <input type="password" id="password" name="password" placeholder="Enter your Password" required>
            </p> 
            <p id="Warning"><%= Warning %></p>
            <input type="submit" value="Log In">
            <br><br>
            <p style="text-align: center;">
                Don't have an account? Ask your supervisor to provide you with a pre-established business log in information.
            </p>
        </form>
    </body>
</html>