<!DOCTYPE html>
<html>
    <head>
        <title><%= BusinessInfo.companyName %></title>
        <link rel="stylesheet" type="text/css" href="css/login_signup_stylesheet.css">
    </head>
    <body>
        <form action="/CheckClientLogin" method="POST">
            <h2>Sign in</h2>
            <p style="text-align:center;">Sign in to track your Booking, Reschedule, and more on <%= BusinessInfo.companyName %>'s website.</p>
            <p style="text-align:center;">
                <label for="email">Email:&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
                <input type="email" id="email" name="email" placeholder="Enter your Email" required>
            </p>
            <p style="text-align:center;">
                <label for="password">Password:&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
                <input type="password" id="password" name="password" placeholder="Enter your Password" required>
            </p> 
            <p id="Warning"><%= Warning %></p>
            <input type="submit" value="Sign In">
            <br><br>
            <p style="text-align: center;">
                Don't have an account? <a href="./signup.html">Sign Up</a> now, it takes just a few seconds.
            </p>
        </form>
    </body>
</html>